PORT=3000
NODE_ENV=development
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
APP_ENCRYPTION_KEY=
MIDTRANS_PLATFORM_SERVER_KEY=
MIDTRANS_PLATFORM_CLIENT_KEY=
MIDTRANS_PLATFORM_IS_PRODUCTION=false
FRONTEND_URL=http://localhost:5173
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
